LOG_LEVEL=info

HOST__API_PORT=3000          # DEFAULT: 3000
HOST__USE_API=true           # DEFAULT: true
HOST__USE_LISTENERS=true     # DEFAULT: true

TELEMETRY__ENABLED=false
TELEMETRY__ENDPOINT=
TELEMETRY__INSECURE=
TELEMETRY__INSTANCE_ID=
TELEMETRY__ENVIRONMENT=
TELEMETRY__AUTH_TOKEN=
TELEMETRY__AUTH_USERNAME=
TELEMETRY__AUTH_PASSWORD=

CHAINS__80002__RPC_HTTP_URL=<RPC_NODE_HTTP_URL>
CHAINS__80002__RPC_WS_URL=<RPC_NODE_WS_URL>

AGENT_COLLECTIONS_MANAGERS__80002=<AGENT_COLLECTIONS_MANAGER_SMART_CONTRACT_ADDRESS>

PINATA__API_KEY=<PINATA_API_KEY>
PINATA__BASE_URL=<PINATA_BASE_URL>

IPFS_CHECK__BASE_URL=<IPFS_CHECK_BASE_URL>