USE_API=true # DEFAULT: true
USE_LISTENERS=true # DEFAULT: true
API_PORT=3000 # DEFAULT: 3000
APP_NAME=Pinata-Bridge

CHAIN_ID=<CHAIN_ID>

AGENT_COLLECTIONS_MANAGER_SMART_CONTRACT_ADDRESS=<AGENT_COLLECTIONS_MANAGER_SMART_CONTRACT_ADDRESS>

RPC_NODE_WS_URL=<RPC_NODE_WS_URL>
RPC_NODE_HTTP_URL=<RPC_NODE_HTTP_URL>

PINATA_API_KEY=<PINATA_API_KEY>
PINATA_BASE_URL=<PINATA_BASE_URL>