PORT=5000
APP_NAME=AgenticAI-Pinata-Bridge

CHAIN_ID=<CHAIN_ID>

AGENTIC_AI_AGENT_COLLECTION_SMART_CONTRACT_ADDRESS=<AGENTIC_AI_AGENT_COLLECTION_SMART_CONTRACT_ADDRESS>

RPC_NODE_WS_URL=<RPC_NODE_WS_URL>
RPC_NODE_HTTP_URL=<RPC_NODE_HTTP_URL>

PINATA_API_KEY=<PINATA_API_KEY>
PINATA_BASE_URL=<PINATA_BASE_URL>